<a href="https://colab.research.google.com/github/sanketpadwal/GCDAI_INSAID_JAN20/blob/main/Algorithms/KMean/KMean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Credit Card Customers Segmentation**
### *KMean Cluster Algorithm*

<img src="https://github.com/sanketpadwal/GCDAI_INSAID_JAN20/blob/main/Algorithms/KMean/download.jfif?raw=true" width="500" height="300" /><img src="https://github.com/sanketpadwal/GCDAI_INSAID_JAN20/blob/main/Algorithms/KMean/10-Behavioral-Segmentation-Methods-Types.png?raw=true" width="500" height="300" />


*image source - https://www.latimes.com/business/story/2020-03-25/coronavirus-credit-card-losses-echo-of-2008*<br>
*image source - https://www.pointillist.com/blog/behavioral-segmentation//*


## Problem Statement
Segmentation of credit card customers based on their behaviour observed for 6 months.


## Objective
 - Explore K-Mean algorithm
 - Build interactive application using streamlit library 


## About this dataset
This case requires to develop a customer segmentation to define marketing strategy. The
sample Dataset summarizes the usage behavior of about 9000 active credit card holders during the last 6 months. The file is at a customer level with 18 behavioral variables.<br>
*data source - https://www.kaggle.com/arjunbhasin2013/ccdata*

**Attribute Information:**

Following is the Data Dictionary for Credit Card dataset :-

CUSTID : Identification of Credit Card holder (Categorical)<br>
BALANCE : Balance amount left in their account to make purchases<br>
BALANCEFREQUENCY : How frequently the Balance is updated, score between 0 and 1 (1 = frequently updated, 0 = not frequently updated)<br>
PURCHASES : Amount of purchases made from account<br>
ONEOFFPURCHASES : Maximum purchase amount done in one-go<br>
INSTALLMENTSPURCHASES : Amount of purchase done in installment<br>
CASHADVANCE : Cash in advance given by the user<br>
PURCHASESFREQUENCY : How frequently the Purchases are being made, score between 0 and 1 (1 = frequently purchased, 0 = not frequently purchased)<br>
ONEOFFPURCHASESFREQUENCY : How frequently Purchases are happening in one-go (1 = frequently purchased, 0 = not frequently purchased)<br>
PURCHASESINSTALLMENTSFREQUENCY : How frequently purchases in installments are being done (1 = frequently done, 0 = not frequently done)<br>
CASHADVANCEFREQUENCY : How frequently the cash in advance being paid<br>
CASHADVANCETRX : Number of Transactions made with "Cash in Advanced"<br>
PURCHASESTRX : Numbe of purchase transactions made<br>
CREDITLIMIT : Limit of Credit Card for user<br>
PAYMENTS : Amount of Payment done by user<br>
MINIMUM_PAYMENTS : Minimum amount of payments made by user<br>
PRCFULLPAYMENT : Percent of full payment paid by user<br>
TENURE : Tenure of credit card service for user<br>

In [1]:
# Load Libraries

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.mixture import GaussianMixture #For GMM clustering
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# data source
url = "https://raw.githubusercontent.com/sanketpadwal/GCDAI_INSAID_JAN20/main/Algorithms/KMean/CC%20GENERAL.csv?_sm_au_=iVVfNH7hPHhMDT0QL321jK0f1JH33"

In [4]:
# Load Data

data = pd.read_csv(url,sep=',')
data.head()

  CUST_ID      BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0  C10001    40.900749  ...          0.000000      12
1  C10002  3202.467416  ...          0.222222      12
2  C10003  2495.148862  ...          0.000000      12
3  C10004  1666.670542  ...          0.000000      12
4  C10005   817.714335  ...          0.000000      12

[5 rows x 18 columns]

In [8]:
data.shape

(8950, 18)

In [6]:
data.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [10]:
data.describe().T

                                   count         mean  ...          75%          max
BALANCE                           8950.0  1564.474828  ...  2054.140036  19043.13856
BALANCE_FREQUENCY                 8950.0     0.877271  ...     1.000000      1.00000
PURCHASES                         8950.0  1003.204834  ...  1110.130000  49039.57000
ONEOFF_PURCHASES                  8950.0   592.437371  ...   577.405000  40761.25000
INSTALLMENTS_PURCHASES            8950.0   411.067645  ...   468.637500  22500.00000
CASH_ADVANCE                      8950.0   978.871112  ...  1113.821139  47137.21176
PURCHASES_FREQUENCY               8950.0     0.490351  ...     0.916667      1.00000
ONEOFF_PURCHASES_FREQUENCY        8950.0     0.202458  ...     0.300000      1.00000
PURCHASES_INSTALLMENTS_FREQUENCY  8950.0     0.364437  ...     0.750000      1.00000
CASH_ADVANCE_FREQUENCY            8950.0     0.135144  ...     0.222222      1.50000
CASH_ADVANCE_TRX                  8950.0     3.248827  ...     4.000000    123.00000
PURCHASES_TRX                     8950.0    14.709832  ...    17.000000    358.00000
CREDIT_LIMIT                      8949.0  4494.449450  ...  6500.000000  30000.00000
PAYMENTS                          8950.0  1733.143852  ...  1901.134317  50721.48336
MINIMUM_PAYMENTS                  8637.0   864.206542  ...   825.485459  76406.20752
PRC_FULL_PAYMENT                  8950.0     0.153715  ...     0.142857      1.00000
TENURE                            8950.0    11.517318  ...    12.000000     12.00000

[17 rows x 8 columns]

In [11]:
data.isnull().sum()

CUST_ID                               0
BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [12]:
data.nunique()

CUST_ID                             8950
BALANCE                             8871
BALANCE_FREQUENCY                     43
PURCHASES                           6203
ONEOFF_PURCHASES                    4014
INSTALLMENTS_PURCHASES              4452
CASH_ADVANCE                        4323
PURCHASES_FREQUENCY                   47
ONEOFF_PURCHASES_FREQUENCY            47
PURCHASES_INSTALLMENTS_FREQUENCY      47
CASH_ADVANCE_FREQUENCY                54
CASH_ADVANCE_TRX                      65
PURCHASES_TRX                        173
CREDIT_LIMIT                         205
PAYMENTS                            8711
MINIMUM_PAYMENTS                    8636
PRC_FULL_PAYMENT                      47
TENURE                                 7
dtype: int64