<a href="https://colab.research.google.com/github/sanketpadwal/GCDAI_INSAID_JAN20/blob/main/Capstone2/capstone2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import mysql.connector
import pandas as pd
import numpy as np

In [147]:
mydb = mysql.connector.connect(host="cpanel.insaid.co", user="student", password="student", database="Capstone2")
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM department_data")
myresult1 = mycursor.fetchall()
department_data = pd.DataFrame(myresult1,columns=['dept_id','dept_name','dept_head'])

In [148]:
mycursor.execute("SELECT * FROM employee_details_data")
myresult2 = mycursor.fetchall()
employee_details_data = pd.DataFrame(myresult2,columns=['employee_id','age','gender','marital_status'])

In [149]:
mycursor.execute("SELECT * FROM employee_data")
myresult3 = mycursor.fetchall()
employee_data = pd.DataFrame(myresult3,columns=['avg_monthly_hrs','dept_id','recently_promoted','last_evaluation','n_projects','filed_complaint','satisfaction','salary','status','tenure','employee_id'])

In [150]:
employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14150 entries, 0 to 14149
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_monthly_hrs    14150 non-null  object
 1   dept_id            13443 non-null  object
 2   recently_promoted  2046 non-null   object
 3   last_evaluation    12663 non-null  float64
 4   n_projects         14150 non-null  int64
 5   filed_complaint    297 non-null    float64
 6   satisfaction       14150 non-null  object
 7   salary             14000 non-null  float64
 8   status             14150 non-null  object
 9   tenure             14000 non-null  object
 10  employee_id        14150 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.2+ MB

In [151]:
employee_details_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14245 entries, 0 to 14244
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   employee_id     14245 non-null  int64
 1   age             14245 non-null  int64
 2   gender          14245 non-null  object
 3   marital_status  14245 non-null  object
dtypes: int64(2), object(2)
memory usage: 445.3+ KB

In [152]:
data = pd.merge(employee_details_data, employee_data, on='employee_id', how='outer')

In [154]:
data.dept_id.value_counts()

D00-SS     3905
D00-ENG    2575
D00-SP     2113
D00-IT     1157
D00-PD      855
D00-MT      815
D00-FN      725
D00-MN      593
-IT         207
D00-AD      175
D00-PR      173
D00-TP      150
Name: dept_id, dtype: int64

In [155]:
data['dept_id']=data['dept_id'].apply(lambda x: "D00"+x if x=="-IT" else x)

In [157]:
data.dept_id.value_counts()

D00-SS     3905
D00-ENG    2575
D00-SP     2113
D00-IT     1364
D00-PD      855
D00-MT      815
D00-FN      725
D00-MN      593
D00-AD      175
D00-PR      173
D00-TP      150
Name: dept_id, dtype: int64

In [158]:
data = pd.merge(data,department_data,how='outer',on='dept_id')

In [159]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14279 entries, 0 to 14278
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        14279 non-null  int64
 1   age                14274 non-null  float64
 2   gender             14274 non-null  object
 3   marital_status     14274 non-null  object
 4   avg_monthly_hrs    14150 non-null  object
 5   dept_id            13443 non-null  object
 6   recently_promoted  2046 non-null   object
 7   last_evaluation    12663 non-null  float64
 8   n_projects         14150 non-null  float64
 9   filed_complaint    297 non-null    float64
 10  satisfaction       14150 non-null  object
 11  salary             14000 non-null  float64
 12  status             14150 non-null  object
 13  tenure             14000 non-null  object
 14  dept_name          13443 non-null  object
 15  dept_head          13443 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 1.9+ MB

In [161]:
#data.to_csv('dataframe.csv',index = False, header=True)