<a href="https://colab.research.google.com/github/sanketpadwal/GCDAI_INSAID_JAN20/blob/main/Capstone2/capstone2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [197]:
import mysql.connector
import pandas as pd
import numpy as np

In [198]:
mydb = mysql.connector.connect(host="cpanel.insaid.co", user="student", password="student", database="Capstone2")
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM department_data")
myresult1 = mycursor.fetchall()
department_data = pd.DataFrame(myresult1,columns=['dept_id','dept_name','dept_head'])

In [199]:
mycursor.execute("SELECT * FROM employee_details_data")
myresult2 = mycursor.fetchall()
employee_details_data = pd.DataFrame(myresult2,columns=['employee_id','age','gender','marital_status'])

In [200]:
mycursor.execute("SELECT * FROM employee_data")
myresult3 = mycursor.fetchall()
employee_data = pd.DataFrame(myresult3,columns=['avg_monthly_hrs','dept_id','filed_complaint','last_evaluation','n_projects','recently_promoted','satisfaction','salary','status','tenure','employee_id'])

In [201]:
employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14150 entries, 0 to 14149
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_monthly_hrs    14150 non-null  object
 1   dept_id            13443 non-null  object
 2   filed_complaint    2046 non-null   object
 3   last_evaluation    12663 non-null  float64
 4   n_projects         14150 non-null  int64
 5   recently_promoted  297 non-null    float64
 6   satisfaction       14150 non-null  object
 7   salary             14000 non-null  float64
 8   status             14150 non-null  object
 9   tenure             14000 non-null  object
 10  employee_id        14150 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.2+ MB

In [202]:
employee_details_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14245 entries, 0 to 14244
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   employee_id     14245 non-null  int64
 1   age             14245 non-null  int64
 2   gender          14245 non-null  object
 3   marital_status  14245 non-null  object
dtypes: int64(2), object(2)
memory usage: 445.3+ KB

In [203]:
data = pd.merge(employee_details_data, employee_data, on='employee_id', how='outer')

In [204]:
data.dept_id.value_counts()

D00-SS     3905
D00-ENG    2575
D00-SP     2113
D00-IT     1157
D00-PD      855
D00-MT      815
D00-FN      725
D00-MN      593
-IT         207
D00-AD      175
D00-PR      173
D00-TP      150
Name: dept_id, dtype: int64

In [205]:
data['dept_id']=data['dept_id'].apply(lambda x: "D00"+x if x=="-IT" else x)

In [206]:
data.dept_id.value_counts()

D00-SS     3905
D00-ENG    2575
D00-SP     2113
D00-IT     1364
D00-PD      855
D00-MT      815
D00-FN      725
D00-MN      593
D00-AD      175
D00-PR      173
D00-TP      150
Name: dept_id, dtype: int64

In [207]:
data = pd.merge(data,department_data,how='outer',on='dept_id')

In [208]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14279 entries, 0 to 14278
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        14279 non-null  int64
 1   age                14274 non-null  float64
 2   gender             14274 non-null  object
 3   marital_status     14274 non-null  object
 4   avg_monthly_hrs    14150 non-null  object
 5   dept_id            13443 non-null  object
 6   filed_complaint    2046 non-null   object
 7   last_evaluation    12663 non-null  float64
 8   n_projects         14150 non-null  float64
 9   recently_promoted  297 non-null    float64
 10  satisfaction       14150 non-null  object
 11  salary             14000 non-null  float64
 12  status             14150 non-null  object
 13  tenure             14000 non-null  object
 14  dept_name          13443 non-null  object
 15  dept_head          13443 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 1.9+ MB

In [209]:
#data.to_csv('dataframe.csv',index = False, header=True)

In [210]:
data.head(30)

    employee_id   age  gender  ... tenure    dept_name    dept_head
0        113558  43.0    Male  ...   4.00  Procurement  Louie Viles
1        108071  36.0    Male  ...   6.00  Procurement  Louie Viles
2        110888  42.0    Male  ...   3.00  Procurement  Louie Viles
3        115694  26.0    Male  ...   4.00  Procurement  Louie Viles
4        107767  43.0    Male  ...   5.00  Procurement  Louie Viles
5        106202  45.0    Male  ...   3.00  Procurement  Louie Viles
6        112930  36.0  Female  ...   3.00  Procurement  Louie Viles
7        101536  22.0    Male  ...   4.00  Procurement  Louie Viles
8        101021  23.0    Male  ...   3.00  Procurement  Louie Viles
9        118206  27.0    Male  ...   3.00  Procurement  Louie Viles
10       116457  28.0    Male  ...   4.00  Procurement  Louie Viles
11       108463  25.0  Female  ...   3.00  Procurement  Louie Viles
12       101234  35.0    Male  ...   4.00  Procurement  Louie Viles
13       112355  25.0  Female  ...   3.00  Procurement  Louie Viles
14       101345  28.0    Male  ...   2.00  Procurement  Louie Viles
15       102012  23.0  Female  ...   3.00  Procurement  Louie Viles
16       113329  53.0    Male  ...   4.00  Procurement  Louie Viles
17       113645  24.0    Male  ...   6.00  Procurement  Louie Viles
18       102644  52.0    Male  ...   6.00  Procurement  Louie Viles
19       118915  26.0    Male  ...   4.00  Procurement  Louie Viles
20       105542  52.0    Male  ...   2.00  Procurement  Louie Viles
21       104556  52.0  Female  ...   2.00  Procurement  Louie Viles
22       114943  22.0  Female  ...   4.00  Procurement  Louie Viles
23       115276  50.0    Male  ...   2.00  Procurement  Louie Viles
24       118755  25.0  Female  ...   3.00  Procurement  Louie Viles
25       114508  25.0    Male  ...   2.00  Procurement  Louie Viles
26       101449  57.0    Male  ...   4.00  Procurement  Louie Viles
27       104005  35.0    Male  ...   3.00  Procurement  Louie Viles
28       117888  48.0    Male  ...   3.00  Procurement  Louie Viles
29       103688  46.0    Male  ...   5.00  Procurement  Louie Viles

[30 rows x 16 columns]

In [211]:
data[data['filed_complaint']==1]['dept_id'].value_counts()

D00-SS     555
D00-ENG    358
D00-SP     328
D00-IT     195
D00-MT     130
D00-PD     126
D00-MN     104
D00-FN      86
D00-PR      32
D00-TP      29
D00-AD      17
Name: dept_id, dtype: int64

In [212]:
data[data['recently_promoted']==1]['dept_id'].value_counts()

D00-SS     96
D00-MN     68
D00-MT     40
D00-ENG    26
D00-SP     17
D00-FN     14
D00-PR     10
D00-IT      7
D00-AD      4
Name: dept_id, dtype: int64

In [213]:
data['dept_id'].value_counts()

D00-SS     3905
D00-ENG    2575
D00-SP     2113
D00-IT     1364
D00-PD      855
D00-MT      815
D00-FN      725
D00-MN      593
D00-AD      175
D00-PR      173
D00-TP      150
Name: dept_id, dtype: int64

In [214]:
data.count()

employee_id          14279
age                  14274
gender               14274
marital_status       14274
avg_monthly_hrs      14150
dept_id              13443
filed_complaint       2046
last_evaluation      12663
n_projects           14150
recently_promoted      297
satisfaction         14150
salary               14000
status               14150
tenure               14000
dept_name            13443
dept_head            13443
dtype: int64

In [215]:
data[data['status']=='Left'].count()

employee_id          3366
age                  3363
gender               3363
marital_status       3363
avg_monthly_hrs      3366
dept_id              3161
filed_complaint       152
last_evaluation      3116
n_projects           3366
recently_promoted      18
satisfaction         3366
salary               3346
status               3366
tenure               3346
dept_name            3161
dept_head            3161
dtype: int64

In [216]:
data_left = data[data['status']=='Left']

In [217]:
data_left[data_left.filed_complaint==1]['satisfaction'].value_counts()

low       88
medium    64
Name: satisfaction, dtype: int64

In [218]:
data_left[data_left.recently_promoted==1]['satisfaction'].value_counts()

low       14
medium     4
Name: satisfaction, dtype: int64

In [219]:
data_employed = data[data['status']=='Employed']

In [220]:
data_employed[data_employed.filed_complaint==1]['satisfaction'].value_counts()

low       887
medium    824
high      183
Name: satisfaction, dtype: int64

In [221]:
data_employed[data_employed.recently_promoted==1]['satisfaction'].value_counts()

medium    160
high       68
low        51
Name: satisfaction, dtype: int64

In [222]:
data_left

       employee_id   age  gender  ... tenure    dept_name    dept_head
26          101449  57.0    Male  ...   4.00  Procurement  Louie Viles
44          128391  31.0  Female  ...   5.00  Procurement  Louie Viles
45          126260  22.0  Female  ...   3.00  Procurement  Louie Viles
56          119066  22.0  Female  ...   5.00  Procurement  Louie Viles
98          118576  31.0    Male  ...   4.00  Procurement  Louie Viles
...            ...   ...     ...  ...    ...          ...          ...
14265       121453  49.0  Female  ...   4.00      Finance    Aanchal J
14267       118889  24.0  Female  ...   3.00      Finance    Aanchal J
14269       125031  24.0  Female  ...   3.00      Finance    Aanchal J
14270       106957  28.0    Male  ...   3.00      Finance    Aanchal J
14274       128142  22.0  Female  ...   3.00      Finance    Aanchal J

[3366 rows x 16 columns]